@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 600px) {
  :root {
    --rsbs-max-w: 24%;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}

@media (max-width: 1022px) {
  :root {
    --rsbs-max-w: 100%;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
