@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 600px) {
  :root {
    --rsbs-max-w: 24%;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}

@media (max-width: 1022px) {
  :root {
    --rsbs-max-w: 100%;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}
